<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   lang_cn.plist
   IDCardDemo

   Created by 이상봉 on 2022/01/25.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>전자사원증</key>
    <string>电子社员证</string>
    <key>상기인은당사임직원임을증명합니다</key>
    <string>上述人员证明是本公司员工。</string>
    <key>출퇴근체크QR</key>
    <string>上下班检查QR</string>
    <key>근태기에QR코드를인식해주세요</key>
    <string>请在出勤管理器上识别QR码。</string>
    <key>재발급</key>
    <string> 补发 </string>
    <key>남은시간</key>
    <string>剩下的时间</string>
    <key>초</key>
    <string>秒</string>
    <key>유효시간이만료되었습니다</key>
    <string>有效时间已过期。</string>
    <key>나의근무시간관리</key>
    <string>我的工作时间管理</string>
    <key>금일</key>
    <string> 今儿 </string>
    <key>미등록</key>
    <string>未登记</string>
    <key>출근시간을등록하시겠습니까</key>
    <string>确定要登记工作时间吗？</string>
    <key>퇴근시간을등록하시겠습니까</key>
    <string>确定要登记下班时间吗？</string>
    <key>이미출근시간이등록되었습니다</key>
    <string>上班时间已经登记好了。</string>
    <key>출근시간</key>
    <string>出勤時間</string>
    <key>퇴근시간</key>
    <string>退勤時間</string>
    <key>출근</key>
    <string>去上班</string>
    <key>퇴근</key>
    <string>下班</string>
    <key>NOTICE</key>
    <string>通知</string>
    <key>CONFIRM</key>
    <string>确认</string>
    <key>CANCEL</key>
    <string>取消</string>
</dict>
</plist>
